<div class="row cms">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <strong>Comment fonctionne ce site ?</strong>
    <p>
      MonProchainBus.eu utilise la fonction GPS de votre navigateur pour repérer votre position. Une fois votre position acquise, nous cherchons les 5 stations de bus ou de tram les plus proches de vous. Pour chaque station, nous demandons les 3 prochains horaires de passage.
    </p>
    <strong>Quelles sont les villes couvertes par ce service ?</strong>
    <p>
      Pour le moment, seules les villes desservies par la
      <a href="http://www.cts-strasbourg.eu/">CTS</a>
      sont couvertes (Strasbourg et Communauté Urbaine de Strasbourg).
    </p>
    <strong>Mon navigateur n'a pas de fonction GPS, est-ce que je peux quand même utiliser le site ?</strong>
    <p>
      Dans le cas où votre navigateur ne supporte pas la fonction GPS, vous pouvez entrer manuellement une adresse.
    </p>
    <strong>Comment sont classées les stations ?</strong>
    <p>Les stations sont classées par distance à vol d'oiseau par rapport à votre position estimée. Puis, on rajoute le temps de marche estimée jusqu'aux stations.</p>
    <strong>Je n'habite pas Strasbourg, comment puis-je tester le service ?</strong>
    <p>
      Choisissez "rentrer une adresse manuellement" et rentrez l'adresse "15 avenue du Rhin Strasbourg".
    </p>
    <strong>D'où proviennent les données ?</strong>
    <p>
      Les données proviennent directement de la CTS, voir
      <a href="http://applis.cts-strasbourg.fr/cts_HorTRPortail/">portail Open Data de la CTS</a>
      .
      Vous pouvez les remercier chaleureusement d'autoriser la réutilisation de leurs données.
    </p>
    <strong>Les données sont-elles "temps réel" ? S'il y a des perturbations, est-ce que les données seront bien mises à jour ?</strong>
    <p>
      Les données proviennent du web service
      <em>"temps réel"</em>
      de la CTS. Nous leur faisons entière confiance quant à la véracité des données et à leur caractère
      <em>"temps réel"</em>
      .
    </p>
    <strong>C'est quoi l'Open Data ?</strong>
    <p>
      <a href="http://fr.wikipedia.org/wiki/Donn%C3%A9es_ouvertes">Open Data</a>.
    </p>
    <strong>Puis-je utiliser ce service sur mon téléphone ?</strong>
    <p>
      Oui, monprochainbus.eu est complètement
      <em>"responsive"</em>
      comme on dit : son affichage est adapté pour fonctionner correctement sur ordinateur, tablet, smartphone, télévision, frigo connecté, voiture connectée (oui dans une voiture ce service peut être utile quand vous irez vous garer dans un
      <a href="http://www.parking-strasbourg.eu" target="_blank">parking relai-tram</a>
      ).
    </p>
    <strong>Qui a développé cette application ?</strong>
    <p>
      <a href="https://twitter.com/yannski">@yannski</a> (<a href="http://www.novelys.com">Novelys</a>).
    </p>
    <strong>Où puis-je poser mes autres questions ?</strong>
    <p>
      Écrivez un mail à
      <a href="mailto:contact@monprochainbus.eu">contact@monprochainbus.eu</a>
      .
    </p>
  </div>
</div>
