<footer>
  <div class="container">
    <div class="pull-right">
      <a href="http://www.strasbourg.eu" target="_blank"><img alt="Strasbourg The Europtimist" src="/assets/europtimist.png"></a>
    </div>
  </div>
</footer>