<div class='row line'>
  <div class='span1 offset3 line_name_block'>
    <span class='{{unbound mode}}-{{unbound name}} line_name'>{{unbound name}}</span>
  </div>
  <div class='span5 line_directions_list'>
    {{#each line_directions}}
      {{partial 'line_direction'}}
    {{/each}}
  </div>
</div>