<div class='row-fluid'>
  <div class='span12'>
    <span class='line_direction'>
      <i class='icomoon-{{unbound mode}}'></i>
      <i class='icon-long-arrow-right'></i>
      {{unbound name}}
    </span>
  </div>
  <div class='span12'>
    <span class='scheduled_remaining_times'>
      <i class='icon-time'></i> {{{unbound formatted_scheduled_times}}}
      </span>
  </div>
</div>