// = require_self

@import fonts

$mainColor:                       #97bf0b
$linkColor:                       $mainColor
$linkColorHover:                  lighten($mainColor, 10%)
$sansFontFamily:                  'Droid Sans', sans-serif
$serifFontFamily:                 'Droid Serif', serif
$monoFontFamily:                  'Droid Sans Mono', sans-serif
$bodyBackground:                  white
$textColor:                       #282828
$navbarBackground:                $mainColor
$navbarBackgroundHighlight:       $mainColor
$navbarText:                      white
$navbarLinkColor:                 white

@import bootstrap
@import bootstrap-responsive
@import font-awesome
@import bus_colors
@import flatdesign
@import navbar

.waiting.main
  font-size: 16em
  line-height: 2em
  color: $mainColor
  text-align: center
  vertical-align: middle

footer
  padding: 10px 0

.address
  text-align: left

.toggle
  text-align: right

.do-displayForm
  color: #282828
  text-decoration: underline
  &:hover
    color: $textColor

.form
  margin: 20px 0
  .btn
    background-color: $mainColor
    color: white
    border-color: $mainColor
    box-shadow: none
    border-radius: 0
    text-shadow: none
    background-image: linear-gradient(to bottom, $mainColor, $mainColor)

.stops_list
  margin-top: 20px
  & > .stop
    display: none
    margin-bottom: 20px
    .stop_name
      font-size: 2em
      line-height: 1.6em
      font-weight: bold
      margin-right: 20px
    .distance
      display: inline-block
      a
        color: inherit
        margin-left: 5px
        font-size: 80%
        &:hover
          text-decoration: none
    .next_arrivals_list > .next_arrival
      border-bottom: 1px dashed #EEEEEE
      padding: 10px 0
      &:first-child
        border-top: 1px dashed #EEEEEE
      .line_directions > .row
        margin-top: 10px
        &:first-child
          margin-top: 0
      .error
        text-align: center
        width: 80%
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

        display: inline-block
        font-size: 1.4em
        line-height: 1.4em
        padding: 5px 0
      .line_name
        text-align: center
        color: white
        width: 100%
        font-weight: bold

        display: inline-block
        font-size: 1.4em
        line-height: 1.4em
        padding: 5px 0
        margin-right: 5px
      .line_direction
        text-align: left
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

        font-size: 1.4em
        line-height: 1.1em

      .scheduled_remaining_times

        font-size: 1.4em
        line-height: 1.1em

    &:nth-child(-n+5)
      display: inherit

@media screen and (max-width: 767px)

  .toggle
    text-align: left

  .stops_list
    & > .stop
      .stop_name
        font-size: 1.8em
        line-height: 1.4em
      .next_arrivals_list > .next_arrival
        padding: 5px 0 5px 10px
        &:first-child
          padding-top: 5px
        .line_name_block
          width: 10%
          float: left
        .line_directions
          width: 90%
          float: left
        .error
          font-size: 1em
          line-height: 1em
        .line_name
          width: 40px
          font-size: 1em
          line-height: 1em
        .line_direction
          font-size: 1em
          line-height: 1em
        .scheduled_remaining_times
          font-size: 1em
          line-height: 1em

@media screen and (max-width: 479px)

  .navbar-inner
    min-height: 100%

  .brand, .navbar .icon-ellipsis-vertical, .navbar .icon-ellipsis-vertical:hover, .navbar .icon-undo, .navbar .icon-undo:hover
    font-size: 1.4em
    line-height: 1.4em

  .stops_list
    & > .stop
      .stop_name
        font-size: 1.2em
        line-height: 1.2em
      .next_arrivals_list > .next_arrival
        padding: 5px 0
        &:first-child
          padding: 5px 0
        .line_name_block
          width: 20%
          float: left
        .line_directions
          width: 80%
          float: left

@media screen and (min-width: 1200px)

  .stops_list
    & > .stop
      .stop_name
      .next_arrivals_list > .next_arrival
        margin-left: 0
        &:first-child
        .span6
          margin-left: 10px
        .line_name
        .line_direction
